body{
    overflow-x: hidden;
}

.n-width{
    max-width: 100%;
    margin: 0 20px;
    @include breakpoint(xs){
        max-width: 500px;
        margin: auto;
    }
    @include breakpoint(sm){
        max-width: 740px;
    }
    @include breakpoint(md){
        max-width: 920px;
    }
    @include breakpoint(xl){
        max-width: 1140px;
    }
}

.f-width{
    max-width: 100%;
}

@for $i from 1 through 10 {
    .mt-#{$i*10}{
        margin-top: $i*10px;
    }
    .mb-#{$i*10}{
        margin-bottom: $i*10px;
    }
}