RewriteEngine On
Options FollowSymLinks

RewriteRule ^index$ index.php [L]
RewriteRule ^aboutus$ aboutus.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^blog$ blog.php [L]
RewriteRule ^projects$ projects.php [L]

