.nav-bar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    &__menu ul{
        display: flex;
        flex-wrap: wrap;

        li {
            // margin: 0 30px;
        }

        a{
            font-size: 1.3em;
            @include breakpoint(xs){
                font-size: 1.5em;
            }
            @include breakpoint(sm){
                font-size: 1.8em;
            }
            @include breakpoint(md){
                font-size: 2em;
            }
            margin-left: 1em;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                background-color: var(--color-gray);
                bottom: -5px;
                left: 0;
                width: 0;
                min-height: 5px;
                transition: width .3s ease-in-out;
            }

            &::before{
                position: absolute;
                content: '';
                background-color: var(--color-light-blue);
                bottom: -5px;
                left: 0;
                width: 0;
                min-height: 5px;
                transition: width .3s ease-in-out;
                transition-delay: 250ms;
                z-index: 2;
            }

            &.active::before{
                width: 100%;
            }
            &.active::after{
                width: 100%;
            }

            &:hover::after{
                width: 100%;
            }

            &:hover::before{
                width: 100%;
            }
        }

    }
}